@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont.ttf") format("truetype");
}

:root {
    --drop-shadow-color: rgb(245, 0, 255);
    --border-radius: 4px;
    --drop-shadow-x: -8px;
    --drop-shadow-y: 8px;
}

.flex {
    display: flex;
}

.flex.center {
    justify-content: center;
    align-items: center;
}

.flex.down {
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

html {
    /* scroll-behavior: smooth; */
    overflow-x: hidden;
}

body, html {
    height: 100%;
    margin: 0;
}

main {
    align-items: center;
}

p, a, h1, h2, h3 {
    font-family: Inter, Arial, Helvetica, sans-serif;
    transition: .15s box-shadow ease-out;
}

a {
    color: black;
    cursor: pointer;
    transition: .2s color ease-out;
}

p {
    font-size: 20px;
}

header {
    background-color: white;
    z-index: 1;
    padding: 10px 0;
    height: 80px;
    width: 100%;
    /* position: fixed; */
    margin-top: 0px;
    left: 0;
    top: 0;
}

header > a, a {
    border-radius: var(--border-radius);
}


header > a {
    font-size: 30px;
    margin: 0px 60px;
    font-variation-settings: 'wght' 1000;
}

main > div:first-of-type {
    margin-top: 100px;
}

header > a, #side > a {
    transition: .2s box-shadow ease-out, .2s transform ease-out, .2s border ease-out;
}

h1 {
    font-variation-settings: 'wght' 800;
    font-style: italic;
    text-align: center;
}

a.content:hover {
    color: var(--drop-shadow-color);
}

header > a:hover, #side > a:hover {
    box-shadow: var(--drop-shadow-x) var(--drop-shadow-y) 0 0 var(--drop-shadow-color);
    transform: translate(var(--drop-shadow-y), var(--drop-shadow-x));
    border: 1px solid black;
}

#front-anim {
    width: 70%;
}

div.splash {
    /* position: relative;
    top: 0;
    left: 0; */
    /* height: 90vh; */
    width: 100vw;
    margin-bottom: 100px;
}

div.front {
    margin: 25px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

#menu-icon {
    margin: 0 60px;
    position: absolute;
    width: 35px;
    visibility: hidden;
    top: 0px;
    left: 0px;
    z-index: 4;
    cursor: pointer
}

#side {
    transition: .3s left ease-out;
    position: absolute;
    top: 100px;
    left: -100%;
    width: 100vw;
    height: 100vh;
    background-color: white;
    visibility: hidden;
}

#side > a {
    font-size: 30px;
    margin: 7vh 25px;
    font-variation-settings: 'wght' 400;
}

#front-breaker {
    position: absolute;
    top: -200px;
    height: 5%;
}

.header-mobile-icons {
    position: absolute;
    visibility: hidden;
    margin: 0 25px;
    height: 50%;
    border: none !important;
}

.header-mobile-icons > img {
    height: 100%;
}

#header-mobile-grow {
    position: absolute;
    height: 100%;
}

footer {
    background-color: rgb(30, 30, 30);
    width: 100%;
    height: auto;
    color: white;
}

footer > p {
    margin: 25px;
}

.front div > * {
    float: left;
    width: 300px;
    margin: 10px;
}

@media (max-width: 900px) {
    #front-anim {
        margin: 0px 25px;
        width: auto;
    }
    header {
        justify-content: flex-start !important;
    }
    header > a:not(a.header-mobile-icons) {
        margin: 0 30px;
        position: absolute;
        visibility: hidden;
    }
    #menu-icon {
        margin: 0 25px;
        position: relative;
        visibility: visible;
    }
    #side {
        visibility: unset;
    }
    .header-mobile-icons {
        position: unset;
        visibility: visible;
    }
    #header-mobile-grow {
        position: unset;
    }
}

@media (min-width: 2200px) {
    #front-anim {
        width: 1540px;
    }
}

@media (max-width: 650px) {
    .front div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}