@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont.ttf") format("truetype");
}

:root {
    --drop-shadow-color: rgb(210, 0, 255);
    --border-radius: 4px;
    --drop-shadow-x: -8px;
    --drop-shadow-y: 8px;
}

.flex {
    display: flex;
}

.flex.center {
    justify-content: center;
    align-items: center;
}

.flex.down {
    flex-direction: column;
}

html {
    /* scroll-behavior: smooth; */
}

body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

main {
    align-items: center;
}

p, a, h1, h2, h3 {
    font-family: Inter, Arial, Helvetica, sans-serif;
    transition: .15s box-shadow ease-out;
}

a {
    cursor: pointer;
}

p {
    font-size: 20px;
}

header {
    background-color: white;
    z-index: 1;
    padding: 10px 0;
    height: 80px;
    width: 100%;
    position: sticky;
    margin-top: 0px;
    left: 0;
    top: 0;
}

header > a {
    font-size: 30px;
    margin: 0px 60px;
    font-variation-settings: 'wght' 1000;
    transition: .2s ease-out;
    border-radius: var(--border-radius);
}

h1 {
    font-variation-settings: 'wght' 800;
    font-style: italic;
    text-align: center;
}

header > a:hover {
    box-shadow: var(--drop-shadow-x) var(--drop-shadow-y) 0 0 var(--drop-shadow-color);
    transform: translate(var(--drop-shadow-y), var(--drop-shadow-x));
    border: 1px solid black;
}

#front-anim {
    width: 60%;
}

div.splash {
    position: relative;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100vw;
}

div.front {
    margin: 25px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}