footer
  p
    | Lance Ellis
    br
    | lance@astrolancing.com
  a.footer-mobile-icons(href='https://github.com/Lanc33llis')
    img(src='images/github.svg')
  a.footer-mobile-icons(href='https://www.linkedin.com/in/lance-ellis-06732b191/')
    img(src='images/linkedin.svg')
