header.flex.center
  include sidebar
  a.name(href='/') LANCE
  .grow
  a.nav-link(href='/about') ABOUT
  a.nav-link(href='/work') WORK
  a.nav-link(href='/contact') CONTACT
  a.nav-link(href='/blog') BLOG
  button#menu-icon(src='images/hamburger.svg')
