extends base

block content
  .about-splash.flex.grow.down
    h1.title-text ABOUT ME
    p
      | Howdy, I&apos;m Lance Ellis. I&apos;ve loved computers for as long as I can
      | remember. First obsessed with video games in my younger days, then
      | getting them to work for you as robots during high school. I still
      | keep that connection with my high school, frequently assisting
      | students with programming as it can be an intimidating skill and
      | field. Now, I&apos;m an astronomy major at the University of Texas at
      | Austin.
    br
    p
      | I use computers in Astronomy to advance my understanding of the world
      | and possibly add to the research community. Recently, I&apos;ve published
      | my first paper on analyzing computer simulations of photometric
      | renderings of dust and freed regolith. You can see this paper 
      a.content(href='https://www.springer.com/series/11769')
        | here
      | .
    br
    p
      | I&apos;m also a graphic design nerd. I&apos;ve been messing with Photoshop since
      | middle school, and I&apos;ve recently pushed that hobby as one of my unique
      | skills as a programmer. I use it on the web as a full-stack developer
      | and as a freelancer. As an amateur in graphic design, I still have
      | much to learn and practice, but I intend on making beautiful things on
      | the web.
