extends base

block content
  .flex.down.center.splash
    #front-anim
    .front
      h1 GRAPHIC DESIGNER, FREELANCER, PROGRAMMER, RESEARCHER
  img#test-front-breaker(src='images/Breaker.svg')
  .front.flex.down.center
    h1 ASTRONOMY LOVER...
    div
      #astro-anim.front-section-image(src='images/SVG/stargirl4.svg')
      aside
        p
          | I am an astronomy major at the University of Texas @ Austin! I&apos;ve
          | recently published a paper on simulating Saturn&apos;s ring which you
          | can see 
          a.content(href='https://www.springer.com/series/11769') here
          |               soon! I&apos;ve always had a passion for exploring the stars since I
          |               was young; computer science and astronomy are among my passions in
          |               life.
  .front.flex.down.center
    h1 WEB &amp; GRAPHIC DESIGNER...
    div
      #gd-anim.front-section-image(src='images/SVG/stargirl4.svg')
      aside
        p
          | I&apos;ve been playing around with the Adobe Creative Suite since I was
          | in middle school. I&apos;ve found Photoshop and Premiere fascinating
          | for their powerful toolset for creating just about anything I
          | wanted graphically. Since high school, I&apos;ve explored graphic
          | design further as a hobby, more specifically with applications to
          | the web. When I began to learn programming and computer science,
          | graphic design became an increasingly important skill for any
          | projects I wanted to be publicly available.
  .front.flex.down.center
    h1 PROGRAMMER &amp; COMPUTER LOVER...
    div
      #programmer-anim.front-section-image(src='images/SVG/stargirl4.svg')
      aside
        p
          | I am fascinated by computers. It is crazy, at least to me, that we
          | can fit millions of little logic gates in a silicon wafer that
          | then can be used to simulate the universe, nature, people, the
          | economy, anything in general that exists. Programming was one of
          | the ways I got to use that power beginning in middle school making
          | tic-tac-toe and a calculator. Now, using Scala I&apos;ve published a
          | paper about a simulation of Photometry on Saturn&apos;s rings. I
          | regularly program from usage to personal projects, like this site
          | or my web apps, to scientific research or mathematical problems.
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.11/lottie.min.js' integrity='sha512-jbTBHn1aXqglu6As1bUWxdPYc9b1uMHtreBM30oW3HbNFDS/eO1n+f98l4qcmw2l7CAdjWSbu3wVjm9SKISOaw==' crossorigin='anonymous' referrerpolicy='no-referrer')
  script(src='js/index.js')
