main {
  height: 100%
}

div h1 {
  font-size: 175px;
  font-weight: 400;
  margin: 50px;
}

.about-splash > div > div {
  background-image: url(../images/watercolour.png);
  background-position: center;
}

.about-splash div, aside {
  float: left;
  margin: 10px;
}

aside {
  max-width: 500px;
}

