main {
  height: 100%
}

.about-splash {
  width: 80%;
  padding: 25px;
}

.title-text {
  font-size: 76px;
  background-image: url("../images/joel-filipe.jpg");
  -webkit-background-clip: text;
  background-size: 200px;
  background-position: center;
  background-position-x: -20px;
  color: transparent;
  text-align: start;
  font-style: normal;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--theme-pink);
  font-weight: 400;
}

@media (max-width: 1000px) {
  .about-splash {
    padding: 0px;
    width: 100%
  }
  .about-splash > * {
    margin: .67em 30px;
  }
}

@media (max-width: 500px) {
  .title-text {
    text-align: center;
  }
}

@media (max-width: 350px) {
  .title-text {
    font-size: 70px;
  }
}