@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont.ttf") format("truetype");
}

:root {
    --theme-pink: rgb(245, 0, 255);
    --theme-blue: rgb(30, 0, 255);
    --border-radius: 4px;
    --drop-shadow-x: -8px;
    --drop-shadow-y: 8px;
}

.flex {
    display: flex;
}

.flex.center {
    justify-content: center;
    align-items: center;
}

.flex.down {
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

html {
    /* scroll-behavior: smooth; */
    overflow-x: hidden;
    min-height: 100%;
}

body, html {
    height: auto;
    margin: 0;
}

main {
    height: auto;
    align-items: center;
}

p, a, h1, h2, h3, input, textarea {
    font-family: Inter, Arial, Helvetica, sans-serif;
    transition: .15s box-shadow ease-out;
}

a {
    color: black;
    cursor: pointer;
    transition: .2s color ease-out;
}

p {
    font-size: 20px;
}

header {
    background-color: white;
    z-index: 1;
    padding: 10px 0;
    min-height: 80px;
    width: 100%;
    position: sticky;
    margin-top: 0px;
    left: 0;
    top: 0;
}

/* main > div:first-of-type {
    margin-top: 100px;
} */

#side > a {
    transition: .2s box-shadow ease-out, .2s transform ease-out, .2s border ease-out;
}

h1 {
    font-variation-settings: 'wght' 800;
    font-style: italic;
    text-align: center;
}

a.content:hover {
    color: var(--theme-pink);
}

#side > a:hover {
    box-shadow: var(--drop-shadow-x) var(--drop-shadow-y) 0 0 var(--theme-pink);
    transform: translate(var(--drop-shadow-y), var(--drop-shadow-x));
    border: 1px solid black;
}

#front-anim {
    width: 70%;
}

div.splash {
    width: 100vw;
}

div.front {
    margin: 25px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

header a.name {
    margin: 0 60px;
    font-style: normal;
    font-size: 36px;
    font-variation-settings: 'wght' 500;
    font-weight: 600;
}

header a.name, header a.nav-link {
    transition: .2s text-shadow ease-out, .2s transform ease-out;
}

@keyframes hover-slide-off {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 315px;
  }
}

header a.nav-link {
    margin: 0 45px;
    font-variation-settings: 'wght' 300;
    font-weight: 500;
    background-image: url("/images/pink.png");
    background-position-y: 26px;
    background-repeat: no-repeat;
    animation-name: hover-slide-off;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards
}

@keyframes hover-slide-on {
  0% {
    background-position-x: -315px;
  }
  100% {
    background-position-x: 0px;
  }
}

header a.nav-link {
  font-size: 1.5em;
  font-weight: bold;
}

header a.nav-link:hover {
  animation-name: hover-slide-on;
}

header:last-of-type a.nav-link{
  margin-right: 60px;
}


header a {
    text-decoration: none;
}

#menu-icon {
    margin: 0 60px;
    position: absolute;
    width: 35px;
    height: 35px;
    background-image: url("../images/hamburger.svg");
    visibility: hidden;
    top: 0px;
    right: 0px;
    z-index: 4;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.scroll-content {
  height: 100%
}

#side {
    z-index: -1;
    transition: .3s left ease-out;
    position: absolute;
    top: 100px;
    left: -100%;
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: white;
    visibility: hidden;
}

/* #side :first-child {
  margin-top: 100px;
} */

#side > a {
    font-size: 30px;
    margin: 7vh 25px;
    font-variation-settings: 'wght' 400;
}

#front-breaker {
    position: absolute;
    top: -200px;
    height: 5%;
    visibility: hidden;
}

#test-front-breaker {
  width: 400px;
}

.header-mobile-icons {
    position: absolute;
    visibility: hidden;
    margin: 0 25px;
    height: 50%;
    border: none !important;
}

.header-mobile-icons > img {
    height: 100%;
}

.footer-mobile-icons {
}

.footer-mobile-icons > img {
  margin: 25px;
  height: 45px;
}

#header-mobile-grow {
    position: absolute;
    height: 100%;
}

footer {
    background-color: rgb(30, 30, 30);
    width: 100%;
    height: auto;
    color: white;
}

footer > p {
    margin: 25px 25px 5px 25px;
}

.front div > * {
    float: left;
    width: 300px;
    margin: 10px;
}


@media (max-width: 1000px) {
    #front-anim {
        margin: 0px 25px;
        width: auto;
    }
    header {
        justify-content: flex-start !important;
    }

    header a.name {
        margin: 0 30px;
    }

    header a.nav-link {
        position: absolute;
        visibility: hidden;
    }

    #menu-icon {
        margin: 0 30px 0 25px;
        position: relative;
        visibility: visible;
    }
    #side {
        visibility: unset;
    }
    .header-mobile-icons {
        position: unset;
        visibility: visible;
    }
    #header-mobile-grow {
        position: unset;
    }
    #test-front-breaker {
      width: 300px;
    }
}

@media (min-width: 2200px) {
    #front-anim {
        width: 1540px;
    }
}

@media (max-width: 650px) {
    .front div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}


@media (max-width: 450px) {
  .header-mobile-icons {
    position: absolute;
    visibility: hidden;
  } 
}